{{/* VKVideo Shortcode for Wowchemy. */}}
{{/* Load video from https://vk.com/video */}}

{{/*
Docs: https://vk.com/pages?oid=-1&p=video.get

Parameters
----------
oid :
owner_id
id :
video_id
hd :
hash

Call
----

{{< vkvideo oid="606414976" id="456239563" hd="2" >}}

  OR

{{< vkvideo 606414976 456239563 2 >}}

*/}}

{{ if .IsNamedParams }}
<div class="embed video-player">
  <iframe class="vkvideo-player" type="text/html"
    src="https://vkvideo.ru/video_ext.php?oid={{ .Get "oid" }}&id={{ .Get "id" }}&hd={{ .Get "hd" }}"
    width="647" height="364" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen>
  </iframe>
</div>
{{ else }}
<div class="embed video-player">
  <iframe class="vkvideo-player" type="text/html"
    src="https://vkvideo.ru/video_ext.php?oid={{ .Get 0 }}&id={{ .Get 1 }}&hd={{ .Get 2 }}"
    width="647" height="364" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen>
  </iframe>
</div>
{{ end }}
